<!DOCTYPE html>
<html ng-app="check">
<head>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container" ng-controller="AppCtrl">
  <h1>Social Login</h1>
  <button ng-click="FBLogin()">Facebook Login</button>
  <div>{{message}}</div>

</div>
<script src="javascripts/controller.js"></script>
</body>
</html>